<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    <mappers>
        <mapper resource="/org/bcr/sql/member.xml"/>
        <mapper resource="/org/bcr/sql/board.xml"/>
        <mapper resource="/org/bcr/sql/comment.xml"/>
     </mappers>
</configuration>
